{
  "swagger": "2.0",
  "info": {
    "version": "20161028",
    "title": "Bridge Server API"
  },
  "host": "webservices.sagebridge.org",
  "basePath": "/",
  "securityDefinitions": {
    "BridgeSecurity": {
      "type": "apiKey",
      "in": "header",
      "name": "Bridge-Session"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "cacheKey": {
      "name": "cacheKey",
      "description": "Cache key",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "moduleId": {
      "name": "moduleId",
      "description": "Unique ID of the module.",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "moduleVersion": {
      "name": "moduleVersion",
      "description": "Module version.",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "schemaId": {
      "name": "schemaId",
      "description": "Upload schema ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "taskId": {
      "name": "taskId",
      "description": "Task ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "revision": {
      "name": "revision",
      "description": "Revision number",
      "required": true,
      "in": "path",
      "type": "integer",
      "format": "int64"
    },
    "schedulePlanGuid": {
      "name": "schedulePlanGuid",
      "description": "Schedule plan GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "subpopulationGuid": {
      "name": "subpopulationGuid",
      "description": "Subpopulation GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "studyId": {
      "name": "studyId",
      "description": "Study ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "uploadId": {
      "name": "uploadId",
      "description": "Upload ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "userId": {
      "name": "userId",
      "description": "User ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "surveyGuid": {
      "name": "surveyGuid",
      "description": "Survey GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "createdOn": {
      "name": "createdOn",
      "description": "Created on timestamp (ISO 8601)",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "date-time"
    },
    "newSchemaRev": {
      "name": "newSchemaRev",
      "description": "Should a new schema revision be created?",
      "required": false,
      "in": "query",
      "type": "boolean"
    },
    "identifier": {
      "name": "identifier",
      "description": "identifier",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "startDate": {
      "name": "startDate",
      "in": "query",
      "description": "The first day to include in reports that are returned",
      "type": "string",
      "format": "date",
      "required": true
    },
    "endDate": {
      "name": "endDate",
      "in": "query",
      "description": "The last day to include in reports that are returned",
      "type": "string",
      "format": "date",
      "required": true
    },
    "startDateOpt": {
      "name": "startDate",
      "in": "query",
      "description": "The first day to include in reports that are returned",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "endDateOpt": {
      "name": "endDate",
      "in": "query",
      "description": "The last day to include in reports that are returned",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "startTime": {
      "name": "startTime",
      "in": "query",
      "type": "string",
      "format": "date-time",
      "required": true
    },
    "endTime": {
      "name": "endTime",
      "in": "query",
      "type": "string",
      "format": "date-time",
      "required": true
    },
    "pageSize": {
      "name": "pageSize",
      "description": "maximum number of records in each returned page",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "required": false,
      "default": 50,
      "maximum": 100
    },
    "offsetBy": {
      "name": "offsetBy",
      "description": "next page start offset for pagination",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "default": 0,
      "required": false
    },
    "offsetKey": {
      "name": "offsetKey",
      "description": "next page start key for pagination",
      "in": "query",
      "type": "string",
      "required": false
    },
    "guid": {
      "name": "guid",
      "description": "A guid",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "activityGuid": {
      "name": "activityGuid",
      "description": "Activity GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "scheduledOnStart": {
      "name": "scheduledOnStart",
      "in": "query",
      "description": "Activities returned are at or after the timestamp. If scheduledOnStart is \nprovided, scheduledOnEnd must be provided, and vice versa. Default range is \n4 days in the future to 10 days in the past.\n",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "scheduledOnEnd": {
      "name": "scheduledOnEnd",
      "in": "query",
      "description": "Activities returned are at or before the timestamp. If scheduledOnEnd is \nprovided, scheduledOnStart must be provided, and vice versa. Default range is \n4 days in the future to 10 days in the past.\n",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "emailFilter": {
      "name": "emailFilter",
      "description": "A string (can be a substring of an email address) to filter returned records \nagainst.\n",
      "in": "query",
      "type": "string",
      "required": false
    }
  },
  "paths": {
    "/v3/auth/signIn": {
      "post": {
        "operationId": "signIn",
        "tags": [
          "Authentication"
        ],
        "description": "Send user credentials to authenticate with the Bridge server. Whether the server returns \n200 (user successfully authenticated) or 412 (user has authenticated but has not yet \nconsented to participate in research), the response will contain a user session. \n\nThe session contains the \"sessionToken\" property with the token that must be used to interact \nwith other endpoints of the service. That value should be sent via the request header \n\"Bridge-Session\" to any endpoint requiring authentication. The Bridge session token is \ncurrently valid for 12 hours. However, your client application should be prepared to \nre-authenticate on any call if it returns 401 (\"Not authenticated\"), as the session may \nexpire before this period for unforeseen reasons, like a server failure.\n\nIf the user has not yet consented, the session also contains detailed information about the \nconsent (or consents) the user must submit a signature for, before they will be allowed to \nmake further calls to Bridge. You can also implement logic to re-consent to updated consents, \nif desired.\n\nNote that a 412 response will not be sent for any account that has an administrative role.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Sign in information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "404": {
            "description": "Credentials incorrect or the user does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/signOut": {
      "post": {
        "operationId": "signOut",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "description": "Delete the user's session on the server.\n",
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/auth/requestResetPassword": {
      "post": {
        "operationId": "requestResetPassword",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Will send an email with a link that contains the session \ntoken necessary to reset the password (cannot be done through the API alone). If the user \naccount does not exist, this method will still return 200 in order to prevent \"account \nenumeration\" security breaches.\n",
        "parameters": [
          {
            "name": "Email",
            "in": "body",
            "description": "Email information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Email"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          }
        }
      }
    },
    "/v3/auth/resetPassword": {
      "post": {
        "operationId": "resetPassword",
        "tags": [
          "Authentication"
        ],
        "description": "This API will not normally be called directly by a client. A user will receive an email \ntriggered by the /requestResetPassword call, with an URL to open up a password reset page \non the Bridge server. That page submits the new password along with a one-time session \ntoken (\"sptoken\") to this endpoint, in order to change the password. The template for the \nemail that is sent can be configured as part of a Study through the management APIs. If \nthe token is not provided or is expired, this request will fail. If the user account does not \nexist, this method will still return 200 in order to prevent \"account enumeration\" security \nbreaches.\n",
        "parameters": [
          {
            "name": "PasswordReset",
            "in": "body",
            "description": "Password reset token",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordReset"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "400": {
            "$ref": "#/responses/400"
          }
        }
      }
    },
    "/v3/auth/signUp": {
      "post": {
        "operationId": "signUp",
        "tags": [
          "Authentication"
        ],
        "description": "Depending on the configuration of the study, the user will normally be sent an email with a link \nto verify his or her email address before the account will be activated. If the user account \ndoes not exist, this method will still return 200 in order to prevent \"account enumeration\" \nsecurity breaches.\n\nOnly basic credentials are necessary to sign up (email, password and study), but all the \ninformation that can be provided for a participant's account can be submitted as part of sign up.\n",
        "parameters": [
          {
            "name": "SignUp",
            "in": "body",
            "description": "Sign up information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignUp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          }
        }
      }
    },
    "/v3/auth/verifyEmail": {
      "post": {
        "operationId": "verifyEmail",
        "tags": [
          "Authentication"
        ],
        "description": "This API will not normally be called directly by a client. A user will receive an email \ntriggered by the /signUp call, with an URL to open up a page that verifies the email was \nreceived at the provided email address. This page is on the Bridge server. That page submits \na one-time session token (\"sptoken\") to this endpoint, in order to change the password. The \ntemplate for this verification email can be configured as part of a Study through the management \nAPIs.\n",
        "parameters": [
          {
            "name": "EmailVerification",
            "in": "body",
            "description": "Email verification token",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailVerification"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          }
        }
      }
    },
    "/v3/auth/resendEmailVerification": {
      "post": {
        "operationId": "resendEmailVerification",
        "tags": [
          "Authentication"
        ],
        "description": "Resend an email to the provided email address asking the address holder to verify their \naddress. Whether the email address has been registered or not through sign up, this method\nwill return 200 in order to prevent \"account enumeration\" security breaches.\n",
        "parameters": [
          {
            "name": "EmailVerification",
            "in": "body",
            "description": "Email address of participant",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Email"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          }
        }
      }
    },
    "/v3/auth/email": {
      "post": {
        "operationId": "requestEmailSignIn",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Will send an email with a link that can be used to call \nthe server and generate a session. This link is intended to be intercepted by an app on \nthe phone, and redirected to a workflow in the app.\n",
        "parameters": [
          {
            "name": "EmailSignInRequest",
            "in": "body",
            "description": "Information to trigger an email for sign in.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailSignInRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          },
          "403": {
            "description": "This feature has not been enabled for the study"
          },
          "404": {
            "description": "Study not found",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "429": {
            "description": "Rate limit exceeded for requests to receive a sign in email",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/email/signIn": {
      "post": {
        "operationId": "signInViaEmail",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Using the token supplied via a link in an email, request \na session from the server. This form of authentication can also optionally change the \npassword on the account. Not enabled for all studies.\n",
        "parameters": [
          {
            "name": "EmailSignIn",
            "in": "body",
            "description": "Information to authenticate with the server",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailSignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "description": "Authentication has failed",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "404": {
            "description": "Study or account does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/activities": {
      "get": {
        "operationId": "getScheduledActivities",
        "summary": "Get a list of the participant's scheduled activities",
        "tags": [
          "Activities",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "description": "Gets all available, started, or scheduled activities for a user. Once an activity is \nfinished, or expires (the time has passed for it to be started), it will be removed \nfrom the list of activities returned to the user.\n",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The user's time zone offset (e.g. +07:00). Scheduled activities will be \nreturned in the timezone submitted at the time of the request. \n",
            "required": true,
            "type": "string"
          },
          {
            "name": "daysAhead",
            "in": "query",
            "required": true,
            "description": "Retrieve activities that are scheduled in the future for the indicated number \nof days past today.\n",
            "type": "integer",
            "minimum": 0,
            "maximum": 5
          },
          {
            "name": "minimumPerSchedule",
            "in": "query",
            "description": "Force a look-ahead on repeating activities until at least the indicated number \nof activities are scheduled (this is applied to the each schedule in the system \nthat applies to this user). The system will then return either the activities \nfor N days, or the minimum number of activities, whichever is the greatest in \nnumber. This setting can help to expose infrequent tasks (weekly, monthly, \netc.) to users.\n",
            "type": "integer",
            "minimum": 0,
            "maximum": 5
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v4/activities": {
      "get": {
        "operationId": "getScheduledActivitiesByDateRange",
        "summary": "Get a list of the participant's scheduled activities",
        "tags": [
          "Activities",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "description": "Gets all activities in a given date range (from inclusive start time to excluded end time), \nincluding expired, available, finished, started, or scheduled activities for a user. The \nactivities are in the time range if their active window (from scheduled time to expiration \ntime) falls within the date range. The only activities that are not returned are deleted \nactivities (activities with a finishedOn timestamp but no startedOn timestamp). Scheduled \ntimes are returned in the timezone of the timestamps (the timezone must be the same for \nstartTime and endTime). The date range cannot exceed 15 days.\n",
        "parameters": [
          {
            "$ref": "#/parameters/startTime"
          },
          {
            "$ref": "#/parameters/endTime"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduledActivityListV4"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      },
      "post": {
        "operationId": "updateScheduledActivities",
        "summary": "Update the status of one or more scheduled activities.",
        "tags": [
          "Activities",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "description": "Submit one or more scheduled activities with updated startedOn or finishedOn timestamps. The \nonly values needed in the JSON for each activity are the guid, startedOn and finishedOn fields.\n",
        "parameters": [
          {
            "name": "ScheduledActivity",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ScheduledActivity"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v3/activities/{activityGuid}": {
      "get": {
        "operationId": "getActivityHistory",
        "summary": "Get a history of activities",
        "tags": [
          "Activities",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/activityGuid"
          },
          {
            "$ref": "#/parameters/scheduledOnStart"
          },
          {
            "$ref": "#/parameters/scheduledOnEnd"
          },
          {
            "name": "offsetBy",
            "description": "next page start offset for pagination",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v3/compoundactivitydefinitions": {
      "get": {
        "operationId": "getAllCompoundActivityDefinitions",
        "summary": "List all compound activity definitions in the study",
        "tags": [
          "Compound Activity Definitions",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompoundActivityDefinitionList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "post": {
        "operationId": "createCompoundActivityDefinition",
        "summary": "Create a compound activity definition",
        "tags": [
          "Compound Activity Definitions",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "CompoundActivityDefinition",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompoundActivityDefinition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompoundActivityDefinition"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/compoundactivitydefinitions/{taskId}": {
      "get": {
        "operationId": "getCompoundActivityDefinition",
        "summary": "Get a compound activity definition by ID",
        "tags": [
          "Compound Activity Definitions",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/taskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompoundActivityDefinition"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_worker"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompoundActivityDefinition",
        "summary": "Delete a compound activity definition",
        "tags": [
          "Compound Activity Definitions",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/taskId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      },
      "post": {
        "operationId": "updateCompoundActivityDefinition",
        "summary": "Update a compound activity definition",
        "tags": [
          "Compound Activity Definitions",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/taskId"
          },
          {
            "name": "CompoundActivityDefinition",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompoundActivityDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompoundActivityDefinition"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/participants": {
      "get": {
        "operationId": "getParticipants",
        "summary": "Get a paged list of study participants (users)",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/offsetBy"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/emailFilter"
          },
          {
            "$ref": "#/parameters/startDateOpt"
          },
          {
            "$ref": "#/parameters/endDateOpt"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountSummaryList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      },
      "post": {
        "operationId": "createParticipant",
        "summary": "Create a new study participant (user)",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "SignUp",
            "in": "body",
            "description": "Sign up",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignUp"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IdentifierHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/self": {
      "get": {
        "operationId": "getUsersParticipantRecord",
        "summary": "Get user's participant record",
        "description": "Get the current user's participant record. Any authenticated user may call this endpoint.  \n**The user does not need to have consented to the study in order to access their participant \nrecord.** \n",
        "tags": [
          "Participants",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      },
      "post": {
        "operationId": "updateUsersParticipantRecord",
        "summary": "Update user's participant record",
        "description": "Update the current user's participant record. **Unlike most other calls in this API, you can send \npartically complete JSON to this endpoint,** and it will selectively update the participant's record \n(rather than treating missing properties as an instruction to delete those fields in the record). \nThis means that many existing APIs that sent a single update value, can direct those payloads to \nthis endpoint and they will still work fine. For this reason most `/v3/users/*` endpoints are \nnow deprecated, though there is no plan to remove them. Any authenticated user may call this \nendpoint. **The user does not need to have consented to the study in order to update their participant \nrecord.** \n",
        "tags": [
          "Participants",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "StudyParticipant",
            "in": "body",
            "description": "Study participant",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/participants/{userId}": {
      "get": {
        "operationId": "getParticipant",
        "summary": "Get a study participant (user) record",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      },
      "post": {
        "operationId": "updateParticipant",
        "summary": "Update an existing study participant (user) record",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "name": "StudyParticipant",
            "in": "body",
            "description": "Study participant",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/uploads": {
      "get": {
        "operationId": "getParticipantUploads",
        "summary": "Get a study participant's upload history",
        "description": "Retrieve information about the uploads from a user. This is particularly useful during \ndevelopment to verify the mobile application is sending valid data back to the Bridge \nserver. The API can retrieve any number of days worth of upload records, defined by the \nstartTime and endTime timestamps (ISO 8601 format), and paginated using a pageSize and \noffsetKey value (null for the first page, but returned with subsequent requests to \nretrieve further pages in the time range). If the endTime is not provided, it will \nbe one day after the startTime. If the startTime is not provided, it will be one day \nbefore the endTime.\n",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/startTime"
          },
          {
            "$ref": "#/parameters/endTime"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offsetKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/notifications": {
      "get": {
        "operationId": "getParticipantPushNotificationRegistrations",
        "summary": "Get a study participant's push notification registrations",
        "description": "Get all of a study participant's registrations for push notifications. There can be more than one \nof these if the participant has downloaded and installed the app on more than one device. There must \nbe at least one record in order to send a push notification to the user.\n",
        "tags": [
          "Participants",
          "Notifications",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationRegistrationList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/sendNotification": {
      "post": {
        "operationId": "sendNotificationToParticipant",
        "summary": "Send a push notification to a single participant",
        "description": "Send a push notification to an individual participant (assuming they have registered for push notifications). \nDo not use this method to notify a group of participants; create a topic, ask your users to subscribe to that \ntopic, and send a message via that topic instead.\n",
        "tags": [
          "Participants",
          "Notifications",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "name": "body",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NotificationMessage"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/requestInfo": {
      "get": {
        "operationId": "getParticipantRequestInfo",
        "summary": "Get information about the last request made by this participant",
        "description": "Retrieves information about the user agent headers and participant settings that were in \neffect the last time this participant contacted the Bridge server. Also provides the last \ntime activities were retrieved and uploads were sent back to the server.\n",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/activities": {
      "delete": {
        "operationId": "deleteParticipantActivities",
        "summary": "Delete all activities for a participant",
        "description": "Intended for use in development. Developers may wish to delete an account's scheduled activities in order \nto see the impact of changes to schedules for a study. Otherwise, activities from the original \nscheduling will persist until they expire, alongside tasks issued for the newly changed schedule. **This \nshould not be called on production accounts.**\n",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/activities/{activityGuid}": {
      "get": {
        "operationId": "getParticipantActivityHistory",
        "summary": "Get a study participant's history of activities",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/activityGuid"
          },
          {
            "$ref": "#/parameters/scheduledOnStart"
          },
          {
            "$ref": "#/parameters/scheduledOnEnd"
          },
          {
            "$ref": "#/parameters/offsetBy"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/signOut": {
      "post": {
        "operationId": "signOutParticipant",
        "summary": "Sign the user out and delete their server session",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/requestResetPassword": {
      "post": {
        "operationId": "sendParticipantResetPasswordEmail",
        "summary": "Trigger a request to reset password for this user",
        "description": "When called, a reset password email will be set to the email address for this account.\n",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/resendEmailVerification": {
      "post": {
        "operationId": "sendParticipantEmailVerification",
        "summary": "Resend an email verification email to this user",
        "description": "When called, resends the email to the user's email account, which contains a link they must \nclick on to verify they control that email address. Account is not activated until this is \ndone.\n",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/consents/withdraw": {
      "post": {
        "operationId": "withdrawParticipantFromStudy",
        "summary": "Withdraw the participant from the study entirely",
        "description": "This endpoint will withdraw the user from any and all signed consents in the study, and \nset their sharing status to \"no_sharing\". The user is withdrawn from all subpopulations \nin the study whether they currently apply to the user or not. Unless you have more \ncomplicated consent requirements (like an optional consent that can be signed or not), \nthis is the best approach to withdrawing a user from a study.\n",
        "tags": [
          "Participants",
          "Consents",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "name": "withdrawal",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Withdrawal"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/consents/{subpopulationGuid}/resendConsent": {
      "post": {
        "operationId": "resendParticipantConsentAgreement",
        "summary": "Re-send the consent agreement for this subpopulation",
        "description": "When called, re-sends a signed consent agreement document to the participant's email address.\n",
        "tags": [
          "Participants",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/consents/{subpopulationGuid}/withdraw": {
      "post": {
        "operationId": "withdrawParticipantFromSubpopulation",
        "summary": "Withdraw the participant from the specified subpopulation",
        "description": "This endpoint will withdraw the user from consent to participate in one subpopulation of \nthe study. \n",
        "tags": [
          "Participants",
          "Consents",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "withdrawal",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Withdrawal"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      }
    },
    "/v3/participants/{userId}/reports/{identifier}": {
      "get": {
        "operationId": "getUsersParticipantReportRecords",
        "summary": "Get participant report records",
        "tags": [
          "Reports",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/startDate"
          },
          {
            "$ref": "#/parameters/endDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReportDataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_researcher"
          }
        }
      },
      "post": {
        "operationId": "addParticipantReportRecord",
        "summary": "Add a participant report record",
        "tags": [
          "Reports",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "ReportData",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ReportData"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "delete": {
        "operationId": "deleteAllParticipantReportRecords",
        "summary": "Delete a participant report (all records)",
        "tags": [
          "Reports",
          "_For Developers",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_worker"
          }
        }
      }
    },
    "/v3/participants/{userId}/reports/{identifier}/{date}": {
      "delete": {
        "operationId": "deleteParticipantReportRecord",
        "summary": "Delete a record for a specific day of a participant report",
        "tags": [
          "Reports",
          "_For Developers",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "date",
            "description": "Date of records",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_worker"
          }
        }
      }
    },
    "/v3/participants/reports/{identifier}": {
      "post": {
        "operationId": "addParticipantReportRecordForWorker",
        "summary": "Add a participant report record",
        "description": "Endpoint for a worker to add a report record for a participant. Unlike other endpoints, \nthe worker must provide the healthCode of the target user (this endpoint allows external \nprocesses working with data from Synapse to write reports back to Bridge). \n",
        "tags": [
          "Reports",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "report data",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ReportDataForWorker"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      },
      "delete": {
        "operationId": "deleteParticipantReportIndex",
        "summary": "Delete a participant report index",
        "description": "Delete a participant report index. These indices can be shared between users so they \nare not normally deleted, but this endpoint allows the index identifiers to be deleted \nduring testing.\n",
        "tags": [
          "Reports",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      }
    },
    "/v3/sharedmodules/{moduleId}/import": {
      "post": {
        "operationId": "importModuleByIdLatestPublishedVersion",
        "summary": "Imports the latest published version of a module into the current study.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleImportStatus"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/sharedmodules/{moduleId}/versions/{moduleVersion}/import": {
      "post": {
        "operationId": "importModuleByIdAndVersion",
        "summary": "Imports a specific module version into the current study.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          },
          {
            "$ref": "#/parameters/moduleVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleImportStatus"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/sharedmodules/metadata": {
      "get": {
        "operationId": "queryAllMetadata",
        "summary": "Queries module metadata using the set of given parameters.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "mostrecent",
            "in": "query",
            "type": "boolean",
            "required": false,
            "default": true,
            "description": "True to get only the most recent versions. If combined with published=true, then this\nwill return the most recent published versions. Cannot be combined with where.\nDefaults to true.\n"
          },
          {
            "name": "published",
            "in": "query",
            "type": "boolean",
            "required": false,
            "default": false,
            "description": "True to get only published versions. False to get all versions. Defaults to false."
          },
          {
            "name": "where",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "SQL-like where clause. Example, \"foo='bar'\""
          },
          {
            "name": "tags",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-delimited list of tags. If specified, only query results that match one or more\ntags (not necessarily all tags) are returned. If not specified, returns all query\nresults.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "post": {
        "operationId": "createMetadata",
        "summary": "Creates the specified module metadata.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "SharedModuleMetadata",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadata"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadata"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/sharedmodules/metadata/{moduleId}": {
      "get": {
        "operationId": "getMetadataByIdLatestVersion",
        "summary": "Gets metadata for the latest version of the specified module.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadata"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/sharedmodules/metadata/{moduleId}/versions": {
      "get": {
        "operationId": "queryMetadataById",
        "summary": "Similar to queryAllMetadata, except this only queries on module versions of the specified ID.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          },
          {
            "name": "mostrecent",
            "in": "query",
            "type": "boolean",
            "required": false,
            "default": true,
            "description": "True to get only the most recent versions. If combined with published=true, then this\nwill return the most recent published versions. Cannot be combined with where.\nDefaults to true.\n"
          },
          {
            "name": "published",
            "in": "query",
            "type": "boolean",
            "required": false,
            "default": false,
            "description": "True to get only published versions. False to get all versions. Defaults to false."
          },
          {
            "name": "where",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "SQL-like where clause. Example, \"foo='bar'\""
          },
          {
            "name": "tags",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-delimited list of tags. If specified, only query results that match one or more\ntags (not necessarily all tags) are returned. If not specified, returns all query\nresults.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "delete": {
        "operationId": "deleteMetadataByIdAllVersions",
        "summary": "Deletes all metadata for module versions with the given ID.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/sharedmodules/metadata/{moduleId}/versions/{moduleVersion}": {
      "get": {
        "operationId": "getMetadataByIdAndVersion",
        "summary": "Gets metadata for the specified version of the specified module.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          },
          {
            "$ref": "#/parameters/moduleVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadata"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "post": {
        "operationId": "updateMetadata",
        "summary": "Updates metadata for the specified module version.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          },
          {
            "$ref": "#/parameters/moduleVersion"
          },
          {
            "name": "SharedModuleMetadata",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedModuleMetadata"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "delete": {
        "operationId": "deleteMetadataByIdAndVersion",
        "summary": "Deletes metadata for the specified module ID and version.",
        "tags": [
          "Shared Modules",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/moduleId"
          },
          {
            "$ref": "#/parameters/moduleVersion"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/subpopulations": {
      "get": {
        "operationId": "getSubpopulations",
        "summary": "Get all subpopulations in this study",
        "tags": [
          "Subpopulations",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubpopulationList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "post": {
        "operationId": "createSubpopulation",
        "summary": "Create a new subpopulation",
        "tags": [
          "Subpopulations",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "Subpopulation",
            "in": "body",
            "description": "New subpopulation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Subpopulation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GuidVersionHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}": {
      "get": {
        "operationId": "getSubpopulation",
        "summary": "Get a subpopulation",
        "tags": [
          "Subpopulations",
          "_For Developers",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subpopulation"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      },
      "post": {
        "operationId": "updateSubpopulation",
        "summary": "Update an existing subpopulation",
        "tags": [
          "Subpopulations",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "Subpopulation",
            "description": "A subpopulation",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Subpopulation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GuidVersionHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "delete": {
        "operationId": "deleteSubpopulation",
        "summary": "Delete a subpopulation",
        "description": "Delete a subpopulation unless it is a default subpopulation, which cannot be deleted. \nIf this is a \n",
        "tags": [
          "Subpopulations",
          "_For Developers",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "in": "query",
            "name": "physical",
            "type": "boolean",
            "required": false,
            "default": false,
            "description": "If an admin sets this query value to true, the subpopulation will be permanently\ndeleted from the database (used for testing).\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin_developer"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/signature": {
      "get": {
        "operationId": "getConsentSignature",
        "summary": "Get the participant's consent signature for the subpopulation",
        "description": "",
        "tags": [
          "Consents",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsentSignature"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      },
      "post": {
        "operationId": "createConsentSignature",
        "summary": "Consent to this subpopulation by submitting a signature",
        "description": "Agree to the terms of participant represented by this subpopulation, by submitting a \nsignature to the Bridge server.\n",
        "tags": [
          "Consents",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "body",
            "description": "A consent signature",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConsentSignature"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/signature/withdraw": {
      "post": {
        "operationId": "withdrawConsentFromSubpopulation",
        "summary": "Withdraw participant from this subpopulation consent group",
        "description": "This withdraws the user from only one subpopulation.\n",
        "tags": [
          "Consents",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "withdrawal",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Withdrawal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/signature/email": {
      "post": {
        "operationId": "emailConsentAgreement",
        "summary": "Email the consent agreement to the participant's email address",
        "tags": [
          "Consents",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v3/consents": {
      "get": {
        "operationId": "getAllDefaultConsentRevisions",
        "summary": "Get all revisions of the consent in a study's default subpopulation",
        "deprecated": true,
        "tags": [
          "Consents",
          "_For Developers",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsentList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      },
      "post": {
        "operationId": "addNewDefaultConsentRevision",
        "summary": "Add new consent revision to the study's default subpopulation",
        "deprecated": true,
        "tags": [
          "Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/consents/recent": {
      "get": {
        "operationId": "getMostRecentDefaultConsentRevision",
        "summary": "Get most recent revision of a study's default subpopulation",
        "deprecated": true,
        "tags": [
          "Consents",
          "_For Developers",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      }
    },
    "/v3/consents/published": {
      "get": {
        "operationId": "getPublishedDefaultConsentRevision",
        "summary": "Get most recently published revision of a study's default subpopulation",
        "deprecated": true,
        "tags": [
          "Consents",
          "_For Developers",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      }
    },
    "/v3/consents/{createdOn}": {
      "get": {
        "operationId": "getDefaultConsentRevision",
        "summary": "Get specific revision of a study's default subpopulation",
        "deprecated": true,
        "tags": [
          "Consents",
          "_For Developers",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/createdOn"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      }
    },
    "/v3/consents/withdraw": {
      "post": {
        "operationId": "withdrawAllConsents",
        "summary": "Withdraw all consents to research for this user, whether currently applicable or not",
        "tags": [
          "Consents",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "withdrawal",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Withdrawal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents": {
      "get": {
        "operationId": "getAllConsents",
        "summary": "Get a list of all consents for this subpopulation",
        "tags": [
          "Study Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsentList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "post": {
        "operationId": "createConsent",
        "summary": "Add a new study consent version to this subpopulation",
        "tags": [
          "Study Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "Study consent",
            "description": "Study consent",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/recent": {
      "get": {
        "operationId": "getMostRecentConsent",
        "summary": "Get the most recently created consent revision",
        "description": "Get the most recently created revision of this subpopulation consent. This is not \nnecessarily the published version of the consent.\n",
        "tags": [
          "Study Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/published": {
      "get": {
        "operationId": "getPublishedConsent",
        "summary": "Get the published consent revision",
        "description": "Get the published revision of this subpopulation consent. This is not necessarily the \nmost recent version of the consent.\n",
        "tags": [
          "Study Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/{createdOn}": {
      "get": {
        "operationId": "getConsent",
        "summary": "Get a specific consent revision",
        "description": "Get a specific revision of this subpopulation consent by its creation timestamp.\n",
        "tags": [
          "Study Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "createdOn",
            "description": "creation timestamp of the revision",
            "type": "string",
            "format": "date-time",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyConsent"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/subpopulations/{subpopulationGuid}/consents/{createdOn}/publish": {
      "post": {
        "operationId": "publishConsent",
        "summary": "Publish a specific consent revision",
        "description": "Publish a specific revision of this subpopulation consent by its creation timestamp. This version of \nthe consent will be presented to users in order to participate in this subpopulation. If users have \nsigned any other revision of this consent, the `signedMostRecentConsent` flag in the consent status \nrecord for this consent (in the user's session) will be false. However, the user is still considered to \nbe consented and will not be shut out of performing operations with a 412 response.\n",
        "tags": [
          "Study Consents",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subpopulationGuid"
          },
          {
            "name": "createdOn",
            "description": "creation timestamp of the revision",
            "type": "string",
            "format": "date-time",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/users": {
      "post": {
        "operationId": "createUser",
        "summary": "Create a new user",
        "tags": [
          "Users",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "SignUp",
            "in": "body",
            "description": "New user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignUp"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      }
    },
    "/v3/users/{userId}": {
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "This is a heavyweight operation; it is better to disable a user account when possible. \nThis endpoint exists mostly for tests and cases where governance dictates the deletion \nof as much user data as possible. \n",
        "tags": [
          "Users",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      }
    },
    "/v3/users/self/emailData": {
      "post": {
        "operationId": "emailDataToUser",
        "summary": "Make user's data available for download",
        "description": "Asynchronously request the uploaded data for this user, in a given time range (inclusive). \nBridge server will gather the user's data for the given time zone and email a secure link \nto the user's registered email address. \n",
        "tags": [
          "Users",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/startDate"
          },
          {
            "$ref": "#/parameters/endDate"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v3/users/self/reports/{identifier}": {
      "get": {
        "operationId": "getParticipantReportRecords",
        "summary": "Get a participant report",
        "description": "Get the records for a specific participant report. Participants can get reports for their own \naccount. Note that this call does not require consent, but does require authentication. \n",
        "tags": [
          "Users",
          "Reports",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/startDate"
          },
          {
            "$ref": "#/parameters/endDate"
          }
        ],
        "responses": {
          "200": {
            "description": "Report records for the participant",
            "schema": {
              "$ref": "#/definitions/ReportDataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/reports": {
      "get": {
        "operationId": "getReportIndices",
        "summary": "Get list of report indices for studies or participants",
        "tags": [
          "Reports",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type (either study or participant)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReportIndexList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/reports/{identifier}": {
      "get": {
        "operationId": "getStudyReportRecords",
        "summary": "Get study report records",
        "tags": [
          "Reports",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/startDate"
          },
          {
            "$ref": "#/parameters/endDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReportDataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      },
      "post": {
        "operationId": "addStudyReportRecord",
        "summary": "Add a record to a study report",
        "tags": [
          "Reports",
          "_For Developers",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "body",
            "description": "Report data",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ReportData"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_worker"
          }
        }
      },
      "delete": {
        "operationId": "deleteAllStudyReportRecords",
        "summary": "Delete a study report (all records)",
        "tags": [
          "Reports",
          "_For Developers",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_worker"
          }
        }
      }
    },
    "/v3/reports/{identifier}/index": {
      "get": {
        "operationId": "getStudyReportIndex",
        "summary": "Get a study report index",
        "description": "Get the index (or metadata) for a set of report records. \n",
        "tags": [
          "Reports",
          "_For Developers",
          "_For Researchers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReportIndex"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      },
      "post": {
        "operationId": "updateStudyReportIndex",
        "summary": "Update an existing study report index",
        "description": "Update the index (or metadata) for a set of report records.\n",
        "tags": [
          "Reports",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "ReportIndex",
            "in": "body",
            "description": "Report index",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportIndex"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/reports/{identifier}/{date}": {
      "delete": {
        "operationId": "deleteStudyReportRecord",
        "summary": "Delete a record for a specific day of a study report",
        "tags": [
          "Reports",
          "_For Developers",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "date",
            "description": "Date of records",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_worker"
          }
        }
      }
    },
    "/v3/surveys": {
      "get": {
        "operationId": "getMostRecentSurveys",
        "summary": "Get most recent version of each survey",
        "tags": [
          "Surveys",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SurveyList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      },
      "post": {
        "operationId": "createSurvey",
        "summary": "Create a new survey",
        "tags": [
          "Surveys",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "survey",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Survey"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GuidCreatedOnVersionHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/surveys/recent": {
      "$ref": "#/paths/~1v3~1surveys"
    },
    "/v3/surveys/published": {
      "get": {
        "operationId": "getPublishedSurveys",
        "summary": "Get the most recently published version of each survey",
        "tags": [
          "Surveys",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SurveyList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/surveys/{surveyGuid}/revisions": {
      "get": {
        "operationId": "getAllVersionsOfSurvey",
        "summary": "Get all revisions of a survey",
        "tags": [
          "Surveys",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/surveyGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SurveyList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v3/surveys/{surveyGuid}/revisions/recent": {
      "get": {
        "operationId": "getMostRecentSurveyVersion",
        "summary": "Get most recent revision of a survey",
        "tags": [
          "Surveys",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/surveyGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Survey"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v3/surveys/{surveyGuid}/revisions/published": {
      "get": {
        "operationId": "getPublishedSurveyVersion",
        "summary": "Get most recently published revision of a survey",
        "tags": [
          "Surveys",
          "_For Developers",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/surveyGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Survey"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
[...]
